[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydantic = "*"
flask-pydantic = "*"
pypdf2 = "*"
langchain = "*"
qdrant-client = "*"
pydantic-settings = "*"
langchain-community = "*"
structlog = "*"
httpx = "*"
sentence-transformers = "*"
pypdf = "*"
faiss-cpu = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
